#banner
    .banner_content
        %h1 File Content
        %p Your life's work. Organized, always
        %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p Felis lorem interdum enim arcu scelerisque pellentesque lacus proin ut bibendum condimentum proin bibendum varius arcu a felis metus gravida nec proin ipsum purus sem vel orci ipsum ex sed enim mi amet orci id maecenas amet condimentum tempus tincidunt cursus felis elementum tortor lacus magna portaest adipiscing fusce portaest.

#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path